@let selectedFiles = uploadStore.selectedFiles();
<h2 mat-dialog-title>{{ 'upload.title' | translate }}</h2>
<mat-dialog-content class="mat-typography">
  <section class="flex flex-col gap-2">
    <div
      (click)="fileInput.click()"
      (dragleave)="onDragLeave($event)"
      (dragover)="onDragOver($event)"
      (drop)="onDrop($event)"
      [class.dragging]="isDragging()"
      class="upload-area"
    >
      <p>{{ 'upload.drag_drop_files_top' | translate }}</p>
      <span>{{ 'upload.drag_drop_files_bottom' | translate }}</span>

      <input
        #fileInput
        (change)="onFileSelected($event)"
        accept="image/*,video/*"
        hidden
        multiple
        type="file"
      />
    </div>

    @if (selectedFiles.length > 0) {
      @let fileSize = uploadStore.fileSize();
      <div class="flex flex-row items-center justify-between">
        <span>{{ 'upload.number_of_files' | translate: { fileCount: selectedFiles.length } }}</span>
        <span>{{ 'upload.file_size' | translate: { fileSize } }}</span>
        <button (click)="onRemoveFile()" class="cursor-pointer">
          <span class="material-icons"> delete </span>
        </button>
      </div>
    }

    <div class="flex flex-row gap-1 items-center justify-center">
      <mat-form-field>
        <mat-label>{{ 'upload.date_selector' | translate }}</mat-label>
        <input [formControl]="datePicker" [matDatepicker]="picker" matInput readonly />
        <mat-datepicker-toggle [for]="picker" matIconSuffix>
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <button (click)="picker.open()" matIconButton>
        <mat-icon>edit_calendar</mat-icon>
      </button>
    </div>
  </section>

  @if (uploadStore.isUploading()) {
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  }
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button
    (click)="upload()"
    [disabled]="selectedFiles.length === 0 || uploadStore.isUploading() || !datePicker.valid"
    aria-label="Upload button"
    matButton
  >
    {{ 'common.upload' | translate }}
  </button>
  <button [disabled]="uploadStore.isUploading()" mat-dialog-close matButton>
    {{ 'common.cancel' | translate }}
  </button>
</mat-dialog-actions>
