<main class="flex flex-col items-center gap-4 justify-center p-8">
  <section class="flex flex-row">
    <input (change)="onFileSelected($event)" accept="image/*,video/*" multiple type="file" />
    @if (selectedFiles().length > 0) {
      <button (click)="onRemoveFile()" class="cursor-pointer">
        <span class="material-icons"> delete </span>
      </button>
    }
  </section>

  <button
    (click)="upload()"
    [disabled]="selectedFiles().length === 0 || multimediaStore.isLoading()"
    aria-label="Upload button"
    matButton="filled"
  >
    {{ 'common.upload' | translate }}
  </button>

  @if (multimediaStore.isUploading()) {
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  }
</main>
