@let selectedMultimedia = multimediaStore.selectedMultimedia();

<main
  (keydown.arrowLeft)="multimediaStore.selectPrevious()"
  (keydown.arrowRight)="multimediaStore.selectNext()"
  (swipeleft)="multimediaStore.selectNext()"
  (swiperight)="multimediaStore.selectPrevious()"
  class="text-mauve-600 relative"
>
  <section class="flex flex-col items-center justify-between">
    <div
      class="justify-between items-center flex flex-row w-full pl-4 pr-4 pt-1 absolute bg-fuchsia-100 opacity-80"
    >
      <div>
        <button mat-dialog-close matIconButton>
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <p class="font-bold">{{ selectedMultimedia?.uploadDate | date }}</p>
    </div>

    @if (selectedMultimedia?.contentType?.includes('image')) {
      <img [src]="selectedMultimedia?.contentUrl" alt="Image content" />
    } @else {
      <video [src]="selectedMultimedia?.contentUrl" autoplay controls></video>
    }
  </section>
  @if (!multimediaStore.hidePreviousButton()) {
    <button
      (click)="multimediaStore.selectPrevious()"
      class="absolute! top-1/2 left-1"
      matIconButton
    >
      <mat-icon>arrow_back</mat-icon>
    </button>
  }

  @if (!multimediaStore.hideNextButton()) {
    <button (click)="multimediaStore.selectNext()" class="absolute! top-1/2 right-1" matIconButton>
      <mat-icon>arrow_forward</mat-icon>
    </button>
  }
</main>
