<main class="flex flex-col items-center justify-center mt-4 gap-8">
  <h1 class="text-4xl font-extrabold tracking-tight">{{ 'app_name' | translate }}</h1>
  <form
    (ngSubmit)="onLogin()"
    [formGroup]="authenticationForm"
    class="flex flex-col gap-4 items-center w-64 border-2 p-4 rounded-lg shadow-lg"
  >
    <h1 class="text-2xl font-semibold mb-2">{{ 'authentication.login' | translate }}</h1>

    <div class="w-full flex flex-col">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>{{ 'authentication.email' | translate }}</mat-label>
        <input autofocus formControlName="email" matInput maxlength="254" type="email" />
      </mat-form-field>
      @if (authenticationForm.get('email')?.touched && authenticationForm.get('email')?.invalid) {
        <span class="text-xs text-red-400 mt-1 pl-1">
          @if (authenticationForm.get('email')?.hasError('required')) {
            {{ 'authentication.email_required' | translate }}
          }
          @if (authenticationForm.get('email')?.hasError('email')) {
            {{ 'authentication.email_invalid' | translate }}
          }
        </span>
      }
    </div>

    <div class="w-full flex flex-col">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>{{ 'authentication.password' | translate }}</mat-label>
        <input
          autocomplete="current-password"
          formControlName="password"
          matInput
          minlength="6"
          type="password"
        />
      </mat-form-field>

      @if (
        authenticationForm.get('password')?.touched && authenticationForm.get('password')?.invalid
      ) {
        <div class="text-xs text-red-400 flex flex-col gap-1 mt-1 pl-1 max-w-full">
          <span>
            @if (authenticationForm.get('password')?.hasError('required')) {
              {{ 'authentication.password_required' | translate }}
            }
            @if (authenticationForm.get('password')?.hasError('minlength')) {
              {{ 'authentication.password_invalid' | translate }}
            }
          </span>
        </div>
      }
    </div>

    @if (authStore.isLoading()) {
      <mat-progress-bar class="w-full my-2" mode="indeterminate"></mat-progress-bar>
    }

    <button
      [disabled]="authenticationForm.invalid || authStore.isLoading()"
      class="w-full mt-2"
      mat-raised-button
      type="submit"
    >
      {{ 'authentication.login' | translate }}
    </button>
  </form>
</main>
