<main class="flex flex-col gap-4 p-6 md:p-8">
  @let hasGalleryItems = multimediaStore.groupedByMonth().length > 0;
  <section class="flex flex-row justify-between items-center border-b pb-4">
    <h1 class="text-4xl font-bold">{{ 'gallery.title' | translate }}</h1>
    <div class="flex flex-row gap-2">
      @if (multimediaStore.storedSelections().length > 0 && isEditMode()) {
        <button (click)="deleteMultimedia()" matIconButton>
          <mat-icon>delete</mat-icon>
        </button>
      }
      @if (hasGalleryItems) {
        <button (click)="toggleEditMode()" matIconButton>
          <mat-icon>edit</mat-icon>
        </button>
      }
      <button (click)="openUploadDialog()" aria-label="Upload button" matButton="filled">
        {{ 'gallery.upload' | translate }}
      </button>
    </div>
  </section>
  @if (multimediaStore.isLoading()) {
    <div class="flex flex-row items-center justify-center">
      <mat-spinner></mat-spinner>
    </div>
  } @else {
    @if (hasGalleryItems) {
      @for (group of multimediaStore.groupedByMonth(); track group.key) {
        <h3 class="text-2xl">{{ group.key }}</h3>
        <section class="grid lg:grid-cols-8 md:grid-cols-5 grid-cols-3 gap-1">
          @for (multimedia of group.items; track multimedia.id) {
            <app-multimedia-thumbnail [isEditMode]="isEditMode()" [multimedia]="multimedia" />
          }
        </section>
      }
    } @else {
      <div
        class="flex flex-col items-center justify-center py-12 rounded-xl border border-dashed h-[calc(100vh-11rem)]"
      >
        <mat-icon class="scale-125 mb-2">image</mat-icon>
        <p class="text-lg font-medium">No multimedia item found in the gallery.</p>
        <p class="text-sm">Use the the upload button to create one!</p>
      </div>
    }
  }
  @if (multimediaStore.isNextDataLoading()) {
    <div class="flex flex-row items-center justify-center">
      <mat-spinner></mat-spinner>
    </div>
  } @else {
    @if (multimediaStore.hasNext() && hasGalleryItems) {
      <button (click)="multimediaStore.loadNextData()" aria-label="Load button" matButton="filled">
        {{ 'gallery.load_more' | translate }}
      </button>
    }
  }
</main>
