<main class="flex flex-col gap-4">
  <section class="flex flex-row justify-between items-center">
    <h1 class="text-4xl">{{ 'gallery.title' | translate }}</h1>
    <button (click)="openUploadDialog()" aria-label="Upload button" matButton="filled">
      <mat-icon>upload</mat-icon>
    </button>
  </section>
  @if (multimediaStore.isLoading()) {
    <div class="flex flex-row items-center justify-center">
      <mat-spinner></mat-spinner>
    </div>
  } @else {
    <section class="grid lg:grid-cols-8 md:grid-cols-5 grid-cols-3 gap-1">
      @for (multimedia of multimediaStore.multimedia(); track multimedia.id) {
        <app-multimedia-thumbnail [multimedia]="multimedia" />
      }
    </section>
  }
</main>
