<main class="min-h-screen p-6 md:p-8">
  @let hasNotes = notesStore.notes().length > 0;
  <header class="mb-8 border-b flex-col items-center">
    <h1 class="text-4xl font-bold mb-4">{{ 'notes.title' | translate }}</h1>
    @if (hasNotes) {
      <div class="flex flex-1 flex-row items-center justify-between gap-4">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>{{ 'notes.search_placeholder' | translate }}</mat-label>
          <input matInput type="type" />
        </mat-form-field>
      </div>
    }
  </header>

  <div class="flex flex-col lg:flex-row gap-8 items-start">
    <aside class="w-full lg:w-80 p-6 rounded-xl shadow-sm border-2 lg:sticky lg:top-6">
      <h2 class="text-lg font-semibold mb-4">{{ 'notes.create' | translate }}</h2>
      <form [formGroup]="noteForm" class="flex flex-col gap-4">
        <div class="flex flex-col">
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>{{ 'notes.input_title' | translate }}</mat-label>
            <textarea formControlName="title" matInput maxlength="150" rows="4"></textarea>
          </mat-form-field>
          @if (noteForm.get('title')?.touched && noteForm.get('title')?.invalid) {
            <div class="text-xs text-red-400 flex flex-col gap-1 pl-1 max-w-full">
              <span>
                @if (noteForm.get('title')?.hasError('required')) {
                  {{ 'notes.title_required_error' | translate }}
                }
                @if (noteForm.get('title')?.hasError('maxLength')) {
                  {{ 'notes.title_max_length_error' | translate }}
                }
              </span>
            </div>
          }
        </div>

        <div class="flex flex-col">
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>{{ 'notes.input_content' | translate }}</mat-label>
            <textarea formControlName="content" matInput maxlength="10000" rows="4"></textarea>
          </mat-form-field>
          @if (noteForm.get('content')?.touched && noteForm.get('content')?.invalid) {
            <div class="text-xs text-red-400 flex flex-col gap-1 pl-1 max-w-full">
              <span>
                @if (noteForm.get('content')?.hasError('required')) {
                  {{ 'notes.content_required_error' | translate }}
                }
                @if (noteForm.get('content')?.hasError('maxLength')) {
                  {{ 'notes.content_max_length_error' | translate }}
                }
              </span>
            </div>
          }
        </div>

        <button
          (click)="onAddNote()"
          [disabled]="noteForm.invalid || notesStore.isLoading()"
          class="w-full"
          color="primary"
          mat-flat-button
        >
          {{ 'notes.add_note' | translate }}
        </button>
      </form>
    </aside>

    <section class="flex-1 w-full">
      @if (notesStore.isLoading()) {
        <div class="flex flex-row items-center justify-center">
          <mat-spinner></mat-spinner>
        </div>
      } @else {
        @if (hasNotes) {
          <div class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 gap-6">
            @for (note of notesStore.notes(); track note.id) {
              <app-note-card [note]="note" />
            }
          </div>

          @if (notesStore.isNextDataLoading()) {
            <div class="flex flex-row items-center justify-center">
              <mat-spinner></mat-spinner>
            </div>
          } @else {
            @if (notesStore.hasNext()) {
              <div class="flex flex-row items-center justify-center">
                <button (click)="notesStore.loadNextData()" aria-label="Load button" matIconButton>
                  <mat-icon>arrow_downward</mat-icon>
                </button>
              </div>
            }
          }
        } @else {
          <div
            class="flex flex-col items-center justify-center py-12 rounded-xl border border-dashed lg:h-[calc(100vh-16rem)]"
          >
            <mat-icon class="scale-125 mb-2">note_alt</mat-icon>
            <p class="text-lg font-medium">{{ 'notes.no_notes_found' | translate }}</p>
            <p class="text-sm">{{ 'notes.no_notes_found_text' | translate }}</p>
          </div>
        }
      }
    </section>
  </div>
</main>
