<main class="min-h-screen p-6 md:p-8">
  <header class="mb-8 border-b pb-4 flex flex-row justify-between items-center">
    <h1 class="text-4xl font-bold">{{ 'notes.title' | translate }}</h1>
    <button matIconButton>
      <mat-icon>edit</mat-icon>
    </button>
  </header>

  <div class="flex flex-col lg:flex-row gap-8 items-start">
    <aside class="w-full lg:w-80 p-6 rounded-xl shadow-sm border-2 lg:sticky lg:top-6">
      <h2 class="text-lg font-semibold mb-4">{{ 'notes.create' | translate }}</h2>
      <form [formGroup]="noteForm" class="flex flex-col gap-4">
        <div class="flex flex-col">
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>{{ 'notes.input_title' | translate }}</mat-label>
            <textarea formControlName="title" matInput maxlength="150" rows="4"></textarea>
          </mat-form-field>
          @if (noteForm.get('title')?.touched && noteForm.get('title')?.invalid) {
            <div class="text-xs text-red-400 flex flex-col gap-1 pl-1 max-w-full">
              <span>
                @if (noteForm.get('title')?.hasError('required')) {
                  {{ 'notes.title_required_error' | translate }}
                }
                @if (noteForm.get('title')?.hasError('maxLength')) {
                  {{ 'notes.title_max_length_error' | translate }}
                }
              </span>
            </div>
          }
        </div>

        <div class="flex flex-col">
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>{{ 'notes.input_content' | translate }}</mat-label>
            <textarea formControlName="content" matInput maxlength="10000" rows="4"></textarea>
          </mat-form-field>
          @if (noteForm.get('content')?.touched && noteForm.get('content')?.invalid) {
            <div class="text-xs text-red-400 flex flex-col gap-1 pl-1 max-w-full">
              <span>
                @if (noteForm.get('content')?.hasError('required')) {
                  {{ 'notes.content_required_error' | translate }}
                }
                @if (noteForm.get('content')?.hasError('maxLength')) {
                  {{ 'notes.content_max_length_error' | translate }}
                }
              </span>
            </div>
          }
        </div>

        <button
          (click)="onAddNote()"
          [disabled]="noteForm.invalid || notesStore.isLoading()"
          class="w-full"
          color="primary"
          mat-flat-button
        >
          {{ 'notes.add_note' | translate }}
        </button>
      </form>
    </aside>

    <section class="flex-1 w-full">
      @if (notesStore.isLoading()) {
        <div class="flex flex-row items-center justify-center">
          <mat-spinner></mat-spinner>
        </div>
      } @else {
        @if (notesStore.notes().length > 0) {
          <div class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 gap-6">
            @for (note of notesStore.notes(); track note.id) {
              <app-note-card [note]="note" />
            }
          </div>
        } @else {
          <div
            class="flex flex-col items-center justify-center py-12 rounded-xl border border-dashed"
          >
            <mat-icon class="scale-125 mb-2">note_alt</mat-icon>
            <p class="text-lg font-medium">No notes found.</p>
            <p class="text-sm">Use the form to create your first note!</p>
          </div>
        }
      }
    </section>
  </div>
</main>
