<main class="relative">
  @let imgSrc = multimedia().thumbnailUrl;
  @if (imgSrc) {
    <img
      (click)="openMultimedia()"
      [src]="imgSrc"
      alt="Thumbnail image"
      class="w-full aspect-square object-cover rounded cursor-pointer hover:scale-105 transition-transform duration-300"
    />
  } @else {
    <div class="w-full aspect-square bg-gray-300 animate-pulse rounded"></div>
  }
  @if (isEditMode()) {
    @let id = multimedia().id;
    <mat-checkbox
      (change)="onSelectionChange($event)"
      [checked]="multimediaStore.isSelectionStored(id)"
      aria-label="Selection checkbox"
      class="absolute! bottom-0 right-0 cursor-pointer"
    ></mat-checkbox>
  }

  @if (multimedia().contentType?.includes('video')) {
    <span class="material-icons absolute bottom-0 left-0"> video_file </span>
  }
</main>
