<main class="relative">
  @let imgSrc = multimedia().thumbnailUrl | authenticatedMedia | async;
  @if (imgSrc) {
    <img
      (click)="openMultimedia()"
      [src]="imgSrc"
      alt="Thumbnail image"
      class="w-full aspect-square object-cover rounded cursor-pointer hover:scale-105 transition-transform duration-300"
    />
  } @else {
    <div class="w-full aspect-square bg-gray-300 animate-pulse rounded"></div>
  }

  <button (click)="deleteMultimedia()" class="absolute top-0 right-0 cursor-pointer">
    <span class="material-icons"> delete </span>
  </button>

  @if (multimedia().contentType?.includes('video')) {
    <span class="material-icons absolute bottom-0 left-0"> video_file </span>
  }
</main>
