/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

:root {
  --bg-color: #ffffff;
  --text-color: #000000;
}

.dark-theme {
  --bg-color: #121212;
  --text-color: #e0e0e0;
}

body, nav {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Roboto', serif;
}

.button {
  background-color: var(--text-color);
  color: var(--bg-color);
  @apply p-1 rounded-lg cursor-pointer;
}

.button:hover {
  @apply bg-gray-400;
}

.button:disabled {
  @apply bg-gray-500 opacity-50 cursor-not-allowed;
}
